<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
I am a Computer Engineer with 25 years experience designing and developing software systems.
        </p>
        <p>
        I have worked on projects at all scales, from tiny IoT sensors to handheld medical devices to networked processes running on mainframes, PCs, laptops, etc.  I've designed GUIs for the Navy, built websites for the state of Maine, and earned my masters degree teaching robots to play Go over the web.
        </p>
        <p>
        <a href="https://www.linkedin.com/in/will-conklin/">See my LinkedIn profile</a> for more career details.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
      <li>
        Built a mesh network of IoT sensors running on Contiki-NG for grain management.
      </li>
      <li>
        Implemented sensor fusion algorithms in matlab and C++ for use in threat detection in rotary-wing aircraft.
      </li>
      <li>
        Mentored DevBootcamp students in an intensive 9-week web programming course.
      </li>
      <li>
        Implemented gesture recognition algorithms on a variety of ARM platforms.
      </li>
      <li>
        Developed a handheld medical device to production-ready status
      </li>
      <li>
        Earned a master's thesis building and documenting a <a href="https://www.youtube.com/watch?v=ZZ9Ct7imrmQ&t=0m22s">robotic arm that challenged all comers to a game of go.</a>
      </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
