<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Running</b>. I've been a runner since high school, and started doing road races somewhere in my thirties.  My favorite distance is the half-marathon; did my first (and last) full marathon last year when I turned 50.  Too much training!
			  </li>
			  <li>
				  <b>Writing</b>. I've occasionally felt like I have a sci-fi novel in me.  So far only short stories have made it out, but - it's coming.
			  </li>
			  <li>
				  <b>Music</b>. I've played one instrument or another since I was tall enough to reach a piano keyboard.  Current favorite is guitar.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          I share my side-hustle with my companion, Gail Fox; we're building a website, <a href="http://www.littlevillagetrading.com">littlevillagetrading.com</a> and (eventually) brick & mortar presence around the concepts of local barter, education and community.
  			</li>
  			<li>
          Currently working on my first kickstarter.  Details coming soon.
    		</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
          Liveaboard
  			</li>
  			<li>
          Chihuahua-wrangler
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
